<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>My Website (Courtney McQuade)</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Courtney McQuade</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="aboutme">About Me</a>
              <a class="nav-link" href="resume">Resume</a>
              <a class="nav-link" href="music">Favorite Music</a>
              <a class="nav-link" href="contact">Contact</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <center>
                <h1> Contact Me</h1>
              </center>
              &nbsp;
           
        </div>
    </div>
    <center>
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          I would love to hear from you!
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: courtney.mcquade1@marist.edu</li>
          <li class="list-group-item">Cell Phone Number: (631) 358-9541 </li>
          <li class="list-group-item">Home Phone Number: (631) 549-9360 </li>
        </ul>
      </div>
    </center>

      &nbsp;
      <center>
        <footer>
          Any Questions? Contact Me at courtney.mcquade1@marist.edu
        </footer> 
      </center>
    


</body>
</html>